# Environment
.env
.env.testing
.env.local
.env.backup
.env.production

# Dependencies
/vendor
/node_modules

# Build
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key

# IDE
/.idea
/.vscode
/.zed
/.cursor
/.nova

# Cache
.phpunit.result.cache
/.phpunit.cache

# OS
.DS_Store
Thumbs.db

# Local tools
.phpactor.json
/auth.json
_ide_helper.php

# Logs
*.log