.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Кастомизация скроллбара */
.project-scroll::-webkit-scrollbar {
	width: 6px;
	padding-right: 8px;
}

.project-scroll::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 8px;
}

.project-scroll::-webkit-scrollbar-thumb {
	background: var(--border-color);
	border-radius: 8px;
}

.project-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--accent-default);
}

.project-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--color-tertiary) var(--border-color);
	padding-right: 8px;
}
