@layer utilities {
	.core-border {
		@apply rounded-xl border border-(--border-color);
	}

	.active-btn {
		@apply pointer-events-auto bg-(image:--gradient-primary) font-medium text-(--accent-primary-text) transition duration-200 ease-out hover:-translate-y-px hover:shadow-(--shadow-primary);
	}

	.loader {
		@apply aspect-square w-12 animate-spin;
		border-radius: 50%;
		background:
			radial-gradient(farthest-side, #7c5cff 94%, #0000) top/8px 8px no-repeat,
			conic-gradient(#0000 30%, #6d5dfc);
		-webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 8px), black 0);
		mask: radial-gradient(farthest-side, transparent calc(100% - 8px), black 0);
		animation: l13 1s infinite linear;
	}
	@keyframes l13 {
		100% {
			transform: rotate(1turn);
		}
	}

	/* Отключение touch эффекта на элементе */
	.no-touch-callout {
		@apply select-none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
}
