@layer utilities {
	.core-border {
		@apply rounded-xl border border-(--border-color);
	}

	.card-surface {
		@apply rounded-2xl bg-(--bg-accent) p-3 shadow-(--shadow) transition-colors md:border md:border-transparent md:p-4 md:hover:border-(--accent-primary-hover-op);
	}

	.project-header {
		@apply text-left text-2xl font-bold xl:text-3xl;
	}

	.active-btn {
		@apply pointer-events-auto bg-(image:--gradient-primary) font-medium text-(--accent-primary-text) transition duration-200 ease-out hover:-translate-y-px hover:shadow-(--shadow-primary);
	}

	.loader {
		@apply aspect-square w-16 animate-spin rounded-full bg-(--accent-default);
		mask-image: radial-gradient(circle closest-side at 50% 40%, transparent 94%, black);
		-webkit-mask-image: radial-gradient(circle closest-side at 50% 40%, transparent 94%, black);
		transform-origin: 50% 40%;
	}

	/* Отключение touch эффекта на элементе */
	.no-touch-callout {
		@apply select-none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
}
